Data=heart.csv\
model=logisticRegression\
*Prediction\
*accuracy Score\
*Precision score\
*Recall score\
*f1_score

importing dependencies and models

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

loadind datasets

In [2]:
df=pd.read_csv("/content/drive/MyDrive/heart.csv")

In [3]:
#printing 5 rows and columns of datasets
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
#checking null values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
#checking number of columns and rows
df.shape

(303, 14)

In [6]:
#printing stastistical distribution of datasets
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
#checking data type 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
#distribution of target column
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

0--> Healthy heart\
1--> Defective heart

Normalization of datasets

In [9]:
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()

In [10]:
norm_df=pd.DataFrame(scale.fit_transform(df),columns=df.columns).iloc[:,0:13]

In [11]:
norm_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.0,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.0,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.0,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.0,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.0,0.666667

In [12]:
norm_df.shape

(303, 13)

Spiliting the features and Target

In [13]:
X=norm_df.iloc[:,0:13]
Y=df['target']

In [14]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667

In [15]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the data into training and testing

In [16]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=3)

In [17]:
print(X.shape,x_train.shape,x_test.shape)

(303, 13) (242, 13) (61, 13)

MOdel Training

In [18]:
model=LogisticRegression(max_iter=1000)

In [19]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

Accuracy Score

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
#accuracy on test data
train_predict=model.predict(x_train)
train_accuracy=accuracy_score(y_train,train_predict)
print(round(train_accuracy*100,2),'%')

85.12 %

In [22]:
#accuracy on test data
test_predict=model.predict(x_test)
test_accuracy=accuracy_score(y_test,test_predict)
print(round(test_accuracy*100,2),'%')

78.69 %

Precision

In [23]:
#Precision is the ratio of number of True Positive to the total number of Predicted Positive.
 #It measures, out of the total predicted positive, how many are actually positive.
from sklearn.metrics import precision_score

In [24]:
#precision score on training data
train_precision=precision_score(y_train,train_predict)
print(train_precision*100)


#precision score on test data
test_precision=precision_score(y_test,test_predict)
print(test_precision*100)

83.80281690140845
76.31578947368422

Recall

In [28]:
#Recall is the ratio of number of True Positive to the total number of Actual Positive. 
#It measures, out of the total actual positive, how many are predicted as True Positive.
from sklearn.metrics import recall_score

#recall score on train data
train_data_recall=recall_score(y_train,train_predict)
print(train_data_recall*100)

#recall score on test data
test_data_recall=recall_score(y_test,test_predict)
print(test_data_recall*100)

90.15151515151516
87.87878787878788

F1 Score

In [24]:
#F1 Score is an important evaluation metric for binary classification that combines Precision & Recall.
# F1 Score is the harmonic mean of Precision & Recall.

In [33]:
from sklearn.metrics import f1_score

#f1 score on training data
f1_score_train_data=f1_score(y_train,train_predict)
print(f1_score_train_data*100)

#f1_score on test data
f1_score_test_data=f1_score(y_test,test_predict)
print(f1_score_test_data*100)

86.86131386861314
81.69014084507043

Precision,Recall,f1_score - Function

In [42]:
def precision_recall_f1_score(true_label,pred_label):
  precision_value=precision_score(true_label,pred_label)
  recall_score_value=precision_score(true_label,pred_label)
  f1_score_value=f1_score(true_label,pred_label)

  print("precision_score :",precision_value*100)
  print('precision_score :',recall_score_value*100)
  print("f1_score_value :",f1_score_value*100)

In [43]:
#classification metrics on training data
precision_recall_f1_score(y_train,train_predict)

precision_score : 83.80281690140845
precision_score : 83.80281690140845
f1_score_value : 86.86131386861314

In [44]:
#classification metrics on test data
precision_recall_f1_score(y_test,test_predict)

precision_score : 76.31578947368422
precision_score : 76.31578947368422
f1_score_value : 81.69014084507043